* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding: 1.8rem;
  background-image: url("pics/bg-sand.jpg");
  background-attachment: scroll;
  backdrop-filter: blur(7px);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1.8rem;
}

.gallery-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18rem;
  border-radius: 3px;
  overflow: hidden;
}

.gallery-item img {
  width: 130%;
  display: block;
  object-fit: cover;
  opacity: 0.65;

  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(0.8);
  opacity: 1;
}

/* MEDIA QUERIES */
@media (max-width: 1050px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .gallery {
    grid-template-columns: 1fr;
  }

  .gallery-item {
    height: 22rem;
  }
}
